
<div class="sidebar">
    <div class="menu list-group list-group-flush">
        <AuthorizeView>
            <Authorized>
                <NavLink class="list-group-item list-group-item-action" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/employeelist">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
                </NavLink>                            
            </Authorized>
        </AuthorizeView>
    </div>
</div>

